@media (max-width: 768px) {
  .home {
    height: 32rem;
  }
  .menu {
    height: 80rem;
    width: 100%;
    top: 10%;
    position: absolute;
    background-color: rgb(202, 138, 4);
    z-index: 1000000;
  }
  .menu-ul {
    display: flex;
    flex-direction: column;
    margin-left: 32%;
    padding-top: 50px;
  }
  .menu-button {
    margin-top: 20px;
    display: flex;
    margin-left: 25px;
    flex-direction: column;
  }
  .menu-bar {
    position: absolute;
    top: 20px;
    display: block;
    right: 25px;
  }
  .nav-logo {
    position: absolute;
    left: 5px;
    top: 25px;
    width: 130px;
  }
}
